name: Signin

on: 
  push:
  schedule:
    - cron: '30 5 * * *'

jobs:
  Signin:

    runs-on: ubuntu-latest

    steps: 
      - uses: actions/checkout@v2
      - name: Set up Python 3.9.1
        uses: actions/setup-python@v2
        with:
          python-version: 3.9.1
      - name: Display Python version
        run: python -c "import sys; print(sys.version)"
      - name: Install dependencies
        run: python -m pip install --upgrade pip
             pip install -r requirements.txt
      - name: Run signin.py
        run: python signin.py
        env:
          cookie: ${{ secrets.cookie }}
          uid: ${{ secrets.uid }}
          cookie2: ${{ secrets.cookie }}
          uid2: ${{ secrets.uid }}

